
.about-container {
	margin-left: 16px;
	margin-right: 16px;
	color: var(--site-white);
}

.about-link {
	text-decoration: none;
	color: var(--site-orange);	
	cursor: pointer;
	font-size: 1.2em;
}

.about-link:hover {
	color: var(--site-tan);
}

.about-header {
	color: var(--site-blue);
	text-decoration: underline;
	font-size: 1.5em;
}

.about-description {
	text-align: left;
	max-width: 600px;
	font-size: 1.2em;
}