.welcome-root {
	height: 100%;
	width: 100%;
}

.nav-bar-container {
	width: 45%;
}

.nav-title {
	float: left !important;	
	font-size: 1.4em;
	vertical-align: middle;
	text-align: center;
	padding: 16px;
	padding-bottom: 0px;
	font-weight: bold;
	color: var(--site-blue);
}

.nav-link-desktop-container {
	float: left;	
	margin: 0;
	padding: 16px;
	padding-top: 0px;
}

.nav-link {
	height: 100%;
	font-weight: bold;
	display: inline-block;
	font-size: 1.2em;
}

.router-link {
	text-decoration: none;
	color: var(--site-orange);
}


.nav-link-flex-container {
	color: white;	
	display: flex;
	align-items: center;
	margin-top: 15px;
}

@media(min-width: 1000px) {
	.nav-bar-container {
		width: 100%;	
	}
	.nav-link-desktop-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 30px;
	}

	.nav-link-flex-container {
		display: inline;		
		margin: 18px;
	}
}

.nav-link:hover {
	cursor: pointer;
	color: var(--site-gray);
}

.terminal-prompt {
	display: none;
}

.nav-link:hover > .terminal-prompt {
	display: inline;
}

