.site-root {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.nav-bar-container {
	width: 100%;	
	height: 50px;
	position: fixed;
	top: 0px;
	background-color: var(--site-dark-grey);
}

.content-container {
	width: 100%;
	height: 100%;
	padding-top: 36px;
	/* overflow: hidden;*/
	overflow: scroll;
}

.nav-title {
	float: left !important;	
	font-size: 1.4em;
	vertical-align: middle;
	text-align: center;
	padding: 16px;
	padding-bottom: 0px;
	font-weight: bold;
}

.nav-title > a {
	text-decoration: none;
	color: var(--site-blue);
}

.nav-link-desktop-container {
	float: left;	
	margin: 0;
	padding: 16px;
	padding-top: 0px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 30px;
}

.nav-link {
	height: 100%;
	font-weight: bold;
	display: inline-block;
	font-size: 1.2em;
}

.router-link {
	text-decoration: none;
	color: var(--site-orange);
}

.nav-link-flex-container {
	color: white;	
	display: flex;
	align-items: center;
	margin: 18px;
}

@media(max-width: 600px) {
	.nav-bar-container {
		height: 80px;
	}
	.nav-title {
		text-align: center;
	}
	.nav-link-desktop-container {
		margin-left: 0px;	
		padding-left: 0px;
	}

	.content-container {
		margin-top: 50px;
	}
}

.nav-link:hover {
	cursor: pointer;
}

.nav-link > a:hover {
	color: var(--site-tan);
}

.nav-link:hover > .terminal-prompt {
	display: inline;
}

.hide {
	display: none;
}
