@import url('https://fonts.googleapis.com/css?family=PT+Mono');

:root {
  --site-white: #dedede;
  --site-dark-grey: #282c34;
  --site-orange: #dd672c;
  --site-blue: #56b6c2;
  --site-grey: #abb2bf;
  --site-tan: #c7ad9c;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

html {
  background-color: var(--site-dark-grey);
}

div {
  font-family: 'PT Mono', monospace;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}